@page "/DeleteContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation;

<EditForm Model="@contact">
    <div class="form-group">
        <label>Name: </label>
        <InputText @bind-Value="nameContact" />
        <button type="submit" class="btn btn-success" @onclick="(() => DeleteContacts())">Delete Contact</button>
    </div>
</EditForm>
<div class="alert alert-secondary mt-4">
    <span class="text-nowrap">
        <p>@message</p>
    </span>
</div>
@code {

    private Contact contact = new Contact();

    string message;
    private string nameContact;
    private string infoContact;

    private async Task DeleteContacts()
    {
        try
        {
            if (ValidateDeleteNull() == false) return;

            infoContact = await Http.GetStringAsync($"https://localhost:7086/api/contact/ExistinContact/{nameContact}");

            if (ValidateExistContactDelete() == false) return;

            await Http.DeleteAsync($"https://localhost:7086/api/contact/DeleteContact/{nameContact}");
            message = "Contact deleted successfully";
        }
        catch (Exception error)
        {
            message = "An unexpected error has occurred, please try again";
        }
    }

    public bool ValidateDeleteNull()
    {
        try
        {
            if (nameContact == null)
            {
                message = "Some data is missing, please check and enter the data again";
                return false;
            }
        }
        catch (Exception error)
        {
            Console.WriteLine("{0}", error.Message);
        }
        return true;
    }
    public bool ValidateExistContactDelete()
    {
        try
        {
            if (bool.Parse(infoContact) == false)
            {
                message = " contact does exist";
                return false;
            }
        }
        catch (Exception error)
        {
            Console.WriteLine("{0}", error.Message);
        }
        return true;
    }
}