@page "/DeleteContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation;

<EditForm Model="@contact">
    <div class="form-group">
        <label>Name: </label>
        <InputText @bind-Value="name" />
        <button type="submit" class="btn btn-success" @onclick="(() => DeleteContacts(name))">Delete Contact</button>
    </div>
</EditForm>
<div class="alert alert-secondary mt-4">
    <span class="text-nowrap">
        <p>@message</p>
    </span>
</div>
@code {

    private Contact contact = new Contact();

    string message = "";
    private string name;

    private async Task DeleteContacts(string name)
    {
        await Http.DeleteAsync($"https://localhost:7086/api/contact/DeleteContact/{name}");
        message = "Contact deleted successfully";
    }
}