@page "/SearchContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation;

<EditForm Model="@contact">
    <div class="form-group">
        <label>Name: </label>
        <InputText @bind-Value="nameContact" />
        <button type="submit" class="btn btn-success" @onclick="(() => GetContact())">Search Contact</button>
    </div>
</EditForm>


<div class="alert alert-secondary mt-4">
    <span class="oi oi-person me-2" aria-hidden="true"></span>
    <strong>contact information</strong><br><br>

    <span class="text-nowrap">
        <p>@message</p>
    </span>
</div>
@code {
    private Contact contact = new();
    string message = "";
    private string nameContact;
    private string infoContact;

    private async Task GetContact()
    {
        try
        {
            if (ValidateSearchNull() == false) return;

            infoContact = await Http.GetStringAsync($"https://localhost:7086/api/contact/SearchContact/{nameContact}");
            message = infoContact;
        }
        catch (Exception error)
        {
            message = "An unexpected error has occurred, please try again";
        }
    }
    public bool ValidateSearchNull()
    {
        try
        {
            if (nameContact == null)
            {
                message = "Some data is missing, please check and enter the data again";
                return false;
            }
        }
        catch (Exception error)
        {
            Console.WriteLine("{0}", error.Message);
        }
        return true;
    }
}