@page "/ListContacts"

<PageTitle>ListContact</PageTitle>
@using BlazorApp.Data

<h1>List Contacts</h1>

<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Telephone</th>
                <th>Phone</th>
            </tr>
        </thead>
    </table>

    @code {
    private Contact[]? contacts;
}